# Chatbot UI
OPENAI_API_KEY="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"

PINECONE_API_KEY="bd71ed61-88b4-4743-9562-38913fb1a81c"

PINECONE_ENVIRONMENT_REGION="us-west1-gcp-free"


INDEX_NAME = "langchain-doc-index"